:root {
   --bubble-size1: calc(80px + 20vw);
   --bubble-size2: calc(120px + 20vw);
   --bubble-size3: calc(160px + 20vw);

   --dshd: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
}

@font-face {
   font-family: "Chalk1";
   src: url(fonts/EraserRegular.ttf) format("truetype");
}

@keyframes swing {
   0%, 100% {
      transform: rotate(3deg);
   }
   50% {
      transform: rotate(-3deg);
   }
}


body,
html {
   margin: 0;
   padding: 0;
   overflow-y: hidden;
   overflow-x: hidden;
   height: 100%;
   width: 100%;
}
h1, h2, h3, h4, h5, h6 {
   font-family: "Chalk1", sans-serif;
   font-weight: 800;
}
p {
   font-family: "Chalk1", sans-serif;
   font-weight: 500;
}
::selection {
   background-color: rgb(202, 255, 233);
   color: rgb(255, 151, 212);
}


.bubble-container {
   position: relative;
   width: 100%;
   height: 100%;
   pointer-events: none;
}

.bubble {
   position: absolute;
   border-radius: 50%;
   overflow: hidden;
   pointer-events: all;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#bubble1 {
   width: var(--bubble-size1);
   height: var(--bubble-size1);
}
#bubble2 {
   width: var(--bubble-size2);
   height: var(--bubble-size2);
}
#bubble3 {
   width: var(--bubble-size3);
   height: var(--bubble-size3);
}

.bubble span {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 4vw;
   font-weight: 500;
   font-family: "Chalk1";
   color: rgb(241, 101, 230);
   text-transform: uppercase;
   text-align: center;
   transition: all 200ms ease;
   pointer-events: none;
}

.bubble img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   pointer-events: none;
   transform: scale(1.14);
}

.bubble.hover span {
   color: rgb(219, 140, 255);
   font-size: 3rem;
}


.wrapper {
   position: relative;
   width: 100%;
   height: 100%;
   overflow: hidden;
}
.clown {
   position: absolute;
   right: 1vw; 
   top: 20vh;
   height: 80vh;
   transform-origin: bottom center;
   animation: swing 8s infinite ease-in-out;
   overflow: hidden;
}
.clown img {
   height: 57%;
   filter: var(--dshd);
}
.clown #line {
   position: inherit;
   height: 50%;
   width: 3px;
   background: rgb(183, 210, 240);
   left: 50%;
   top: 50%;
   filter: var(--dshd);
   z-index: -50;
}